<p class="breadcrumbs"><a href="/admin/article">Admin</a> &raquo;

<h1>Login</h1>



<form method="post" action="/login">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <button>Login</button>
</form>